
body {
    background-color: gold;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}

.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.main-page-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loca-image {
    max-width: 30%;
    border: solid;
    border-color: gold;
}